h1 {
    color: red;
}
input {
    padding: 10px;
    border-radius: 5px;
    display: flex;
}
nav {
    display: flex;
    justify-content: center;
}
ul {
  display: flex;
}
ul li {
    text-decoration: none;

    margin: 0 10px;
}
ul li a {
    text-decoration: none;
}